              </table>
            </td>
          </tr>
          <tr>
            <td width="100%" valign="center" style="background-color: #ffffff; width: 100%; color: #7d40e7;">
              <table bgcolor="#ffffff" width="100%" cellpadding="20" cellspacing="0" valign="middle" border="0" style="width: 100%; max-width: 100% !important; border-radius: 4px; background-color: #ffffff; color: #7d40e7; font-size: 14px;">
                <tr>
                  <td>
                    <table bgcolor="#ffffff" width="100%" cellpadding="0" cellspacing="0" valign="middle" border="0" style="width: 100%; max-width: 100% !important; border-radius: 4px; background-color: #ffffff; color: #7d40e7; font-size: 14px;">
                      <tr>
                        <td height="28" style="border-bottom: 1px solid #eee; width: 100px">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            <b>Entrega:</b>&nbsp #{{orderNumber}}
                          </p>
                        </td>
                        <td height="28" style="border-bottom: 1px solid #eee;"></td>
                      </tr>
                      <tr>
                        <td height="28" style="border-bottom: 1px solid #eee;">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            <b>Destinatário:</b>
                          </p>
                        </td>
                        <td height="28" align="right" style="border-bottom: 1px solid #eee;">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            {{client}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td height="28" style="border-bottom: 1px solid #eee;">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            <b>Produto:</b>
                          </p>
                        </td>
                        <td height="28" align="right" style="border-bottom: 1px solid #eee;">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            {{product}}
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td height="40" style="padding-right: 10px;">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            <b>Endereço:</b>
                          </p>
                        </td>
                        <td height="40" align="right">
                          <p style="color: #7d40e7; margin: 0; font-family: Arial, Helvetica, sans-serif;">
                            {{address}}
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p style="color: #7d40e7; font-family: Arial, Helvetica, sans-serif;">
                      <small style="color: #7d40e7; font-family: Arial, Helvetica, sans-serif;">
                        Em caso de dúvidas entre em contato com a equipe <b>Fastfeet&trade;</b> através do email <a href="mailto:contato@fastfeet.com" target="_blank" style="color: #7d40e7; font-family: Arial, Helvetica, sans-serif;">contato@fastfeet.com</a>.
                      </small>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td width="100%" valign="center" style="background-color: #7d40e7; width: 100%; color: #7d40e7; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <table bgcolor="#7d40e7" width="100%" cellpadding="10" cellspacing="0" align="center" valign="middle" border="0" style="width: 100%; max-width: 100% !important; border-radius: 4px; background-color: #ffffff; color: #7d40e7; font-size: 14px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
                <tr>
                  <td style="background-color: #7d40e7; color: #fff; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" align="center">
                    <p style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                      <small style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        FASTFEET&trade; &copy;2020 All rights reserved
                      </small><br>
                      <small style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        FASTFEET&trade; é uma marca cedida pela <a href="https://rocketseat.com.br" target="_blank" rel="noopener noreferrer" style="color: #ffffff;">rocketseat.com.br</a>
                      </small><br>
                      <small style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        Com uso exclusivo para fins didáticos.
                      </small><br>
                      <small style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        Developed with ❤️ by <a href="https://github.com/michelonsouza" target="_blank" rel="noopener noreferrer" style="color: #ffffff;">Michelon Souza</a>.
                      </small><br>
                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
