<tr>
  <td width="100%" valign="center" style="background-color: #; width: 100%; color: #fff; padding: 20px;">
    <p style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; margin: 0; font-size: 14px;">
      Houve um cancelamento de entrega em <b>{{date}}</b>.<br />
      Confira os detalhes abaixo:
    </p>
  </td>
</tr>
