<tr>
  <td width="100%" valign="center" style="background-color: #7d40e7; width: 100%; color: #fff; padding: 20px;">
    <p style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; margin: 0; font-size: 14px;">
      Você tem uma nova entrega em <b>{{date}}</b>.<br>
      <b>A entrega já encontra-se disponível para retirada.</b>,<br />
      Confira os detalhes abaixo paera mais informações:
    </p>
  </td>
</tr>
